[user]
        name = melonlorrd
        email = mprasadme@gmail.com
        signingKey = ~/.ssh/melonlorrd_github_sshkey.pub

[commit]
        gpgsign = true

[gpg]
	format = ssh

[core]
        sshCommand = "ssh -i ~/.ssh/melonlorrd_github_sshkey"
